<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{ title }}</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="/assets/images/banner.png" class="img-fluid" alt="">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-listar-planta></app-listar-planta>
    </div>
  </div>
  <div class="row align-items-end mt-5">
    <div class="col">
      <p class="contact">Contact us +573102105253 - info@viveroelotonio.com - @viveroelotonio</p>
    </div>
  </div>
</div>
